header {
   border: solid goldenrod 1px; 
}

nav li {
   list-style-type: none;
   display: inline-block;
   padding: 50px;
   text-align: center;
}

.disabled {
   color: grey;
}

a[disabled] {
   color: purple;
}
.active {
   color: yellow;
}
.red {
   color: red;
}
.blue {
   color: blue;
}

.redSister {
   background-color: red;
}
.blueBrother {
   background-color: blue;
}

.grandpa {
   border: solid;
   border-radius: 15px 15px;
}

.promo {
   font: bold;
   color: gold;
}
input {
   height: 25px;
}